{% extends "frontend/layout.twig" %}

{% block fulltitle %}{{ schedule.name }} &ndash; {{ event.name }}{% endblock %}

{% block navheader %}
<div class="navbar-header">
	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#h-collapse-nav">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a href="/{{ event.slug }}" class="navbar-brand">{{ event.name }}</a>
</div>
{% endblock %}

{% block navigation %}
<ul class="nav navbar-nav">
	{% for sched in event.schedules %}
	<li><a href="/{{ event.slug }}/{{ sched.slug }}"><i class="fa fa-calendar"></i> {{ sched.name }}</a></li>
	{% endfor %}
</ul>

<ul class="nav navbar-nav navbar-right">
	{% if event.website %}<li><a href="{{ event.website }}" target="_blank" title="{{ event.website }}"><i class="fa fa-globe"></i></a></li>{% endif %}
	{% if event.twitch %}<li><a href="http://twitch.tv/{{ event.twitch }}" target="_blank" title="{{ event.twitch }}"><i class="fa fa-twitch"></i></a></li>{% endif %}
	{% if event.twitter %}<li><a href="http://twitter.com/{{ event.twitter }}" target="_blank" title="@{{ event.twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h2>{{ schedule.name }}</h2>
	</div>
</div>

{% set start     = schedule.localStart %}
{% set scheduled = schedule.localStart %}
{% set columns   = schedule.columns %}

<div class="row">
	<div class="col-lg-12 text-center">
		<h4>Starts on <strong><time datetime="{{ start.format('Y-m-d\\TH:i:sP') }}" class="h-fancy">{{ start.format('l, F d, Y') }}</time></strong></h4>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<p class="text-center text-muted" id="localized-note">
			<small>All dates and times are given in {{ schedule.timezone }} timezone (UTC{{ start.format('P') }}).</small>
			<small class="nope">All dates and times are given in your local timezone.</small>
		</p>
	</div>
</div>

<table class="table h-schedule">
	<thead>
		<tr>{% spaceless %}
			<th class="h-s">Scheduled</th>
			<th class="h-l">Estimated</th>
			{% for idx,column in columns %}
			<th class="h-c{{ utils.schedulePseudoColClass(idx) }}">{{ column.name }}</th>
			{% endfor %}
			<th class="h-co hidden {{ utils.scheduleControlsClass(columns | length) }}">&nbsp;</th>
		{% endspaceless %}</tr>
	</thead>

	{% for idx,item in schedule.items %}
	<tbody class="{{ idx % 2 ? 'h-odd' : 'h-even' }}">
		<tr class="h-primary">
			{% set extra = item.extra %}
			<td class="h-s"><time datetime="{{ scheduled.format('Y-m-d\\TH:i:sP') }}">{{ scheduled.format('H:i:s') }}</time></td>
			<td class="h-l"><time datetime="{{ item.isoDuration }}">{{ item.length.format('H:i:s') }}</time></td>
			{% for idx,column in columns %}
			<td class="h-c{{ utils.schedulePseudoColClass(idx) }}">{{ extra[column.id]|default('') }}</td>
			{% endfor %}
			{% set scheduled = scheduled.add(item.dateInterval) %}
			<td class="text-right h-co hidden {{ utils.scheduleControlsClass(columns | length) }}">
				<button class="btn btn-link btn-xs" rel="more"><i class="fa fa-angle-double-down"></i> more</button>
				<button class="btn btn-link btn-xs" rel="less"><i class="fa fa-angle-double-up"></i> less</button>
			</td>
		</tr>
	</tbody>
	{% endfor %}
</table>

<script type="text/html" id="expanded_tpl">
<tr class="h-secondary {{ utils.scheduleControlsClass(columns | length) }}">
	<td colspan="100">{% spaceless %}
		{% for idx,column in columns.slice(4) %}
			{% if loop.index0 % 2 == 0 %}
			<div class="row h-item-more hidden-md hidden-sm hidden-xs">
			{% endif %}

			<div class="col-lg-2 text-right"><strong>{{ column.name }}:</strong></div>
			<div class="col-lg-4" rel="{{ idx }}">&nbsp;</div>

			{% if loop.index0 % 2 == 1 %}
			</div>
			{% endif %}
		{% endfor %}

		{% if columns|length > 4 and (columns|length - 4) % 2 > 0 %}
		</div>
		{% endif %}

		{% for idx,column in columns.slice(3) %}
			{% spaceless %}
			{% if loop.index0 % 2 == 0 %}
			<div class="row h-item-more hidden-lg hidden-sm hidden-xs">
			{% endif %}
			<div class="col-md-2 text-right"><strong>{{ column.name }}:</strong></div>
			<div class="col-md-4" rel="{{ idx }}">&nbsp;</div>
			{% if loop.index0 % 2 == 1 %}
			</div>
			{% endif %}
			{% endspaceless %}
		{% endfor %}

		{% if columns|length > 3 and (columns|length - 3) % 2 > 0 %}
		</div>
		{% endif %}

		{% for idx,column in columns.slice(2) %}
		<div class="row h-item-more hidden-lg hidden-md">
			<div class="col-sm-4 col-xs-4 text-right"><strong>{{ column.name }}:</strong></div>
			<div class="col-sm-8 col-xs-8" rel="{{ idx }}">&nbsp;</div>
		</div>
		{% endfor %}
	{% endspaceless %}</td>
</tr>
</script>
{% endblock %}
