{% extends "frontend.twig" %}

{% block title %}{{ schedule.name }} &ndash; {{ event.name }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h2>{{ event.name }} <small>{{ schedule.name }}</small></h2>
	</div>
</div>

{% set start     = schedule.localStart %}
{% set scheduled = schedule.localStart %}
{% set columns   = schedule.columns %}

<div class="row">
	<div class="col-lg-12 text-center">
		<h4>Starts on <strong><time datetime="{{ start.format('Y-m-d\\TH:i:sP') }}" class="h-fancy">{{ start.format('Y-m-d H:i:s') }}</time></strong></h4>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<p class="text-center text-muted"><small>All dates and times are given in your local timezone.</small></p>
	</div>
</div>

<table class="table h-schedule">
	<thead>
		<tr>{% spaceless %}
			<th class="h-scheduled">Scheduled</th>
			<th class="h-length">Estimated</th>
			{% for idx,column in columns %}
			<th class="h-column {{ utils.scheduleColClass(idx) }}">{{ column.name }}</th>
			{% endfor %}
			<th class="h-controls">&nbsp;</th>
		{% endspaceless %}</tr>
	</thead>

	{% for idx,item in schedule.items %}
	<tbody class="{{ idx % 2 ? 'h-odd' : 'h-even' }}">
		{% set extra = item.extra %}
		<tr class="h-primary">{% spaceless %}
			<td class="h-scheduled"><time datetime="{{ scheduled.format('Y-m-d\\TH:i:sP') }}">{{ scheduled.format('H:i:s') }}</time></td>
			<td class="h-length"><time datetime="{{ item.isoDuration }}">{{ item.length.format('H:i:s') }}</time></td>
			{% for idx,column in columns %}
			<td class="h-column {{ utils.scheduleColClass(idx) }}" data-colid="{{ column.id }}">{{ extra[column.id]|default('') }}</td>
			{% endfor %}
			<td class="text-right h-controls">
				<span class="{{ utils.scheduleControlsClass(columns | length) }}">
					<button class="btn btn-link btn-xs" rel="more"><i class="fa fa-angle-double-down"></i> more</button>
					<button class="btn btn-link btn-xs hidden" rel="less"><i class="fa fa-angle-double-up"></i> less</button>
				</span>
			</td>
			{% set scheduled = scheduled.add(item.dateInterval) %}
		{% endspaceless %}</tr>
	</tbody>
	{% endfor %}
</table>

<script type="text/html" id="expanded_tpl">
<tr class="h-secondary {{ utils.scheduleControlsClass(columns | length) }}">
	<td colspan="100">{% spaceless %}
		{% for idx,column in columns.slice(4) %}
			{% if loop.index0 % 2 == 0 %}
			<div class="row h-item-more hidden-md hidden-sm hidden-xs">
			{% endif %}

			<div class="col-lg-2 text-right"><strong>{{ column.name }}:</strong></div>
			<div class="col-lg-4" rel="{{ column.id }}">&nbsp;</div>

			{% if loop.index0 % 2 == 1 %}
			</div>
			{% endif %}
		{% endfor %}

		{% if columns|length > 4 and (columns|length - 4) % 2 > 0 %}
		</div>
		{% endif %}

		{% for idx,column in columns.slice(3) %}
			{% spaceless %}
			{% if loop.index0 % 2 == 0 %}
			<div class="row h-item-more hidden-lg hidden-sm hidden-xs">
			{% endif %}
			<div class="col-md-2 text-right"><strong>{{ column.name }}:</strong></div>
			<div class="col-md-4" rel="{{ column.id }}">&nbsp;</div>
			{% if loop.index0 % 2 == 1 %}
			</div>
			{% endif %}
			{% endspaceless %}
		{% endfor %}

		{% if columns|length > 3 and (columns|length - 3) % 2 > 0 %}
		</div>
		{% endif %}

		{% for idx,column in columns.slice(2) %}
		<div class="row h-item-more hidden-lg hidden-md">
			<div class="col-sm-4 col-xs-4 text-right"><strong>{{ column.name }}:</strong></div>
			<div class="col-sm-8 col-xs-8" rel="{{ column.id }}">&nbsp;</div>
		</div>
		{% endfor %}
	{% endspaceless %}</td>
</tr>
</script>
{% endblock %}
