{% extends "frontend/layout.twig" %}

{% set theme    = event.theme              %}
{% set appendix = key ? '?key=' ~ key : '' %}

{% block fulltitle %}{{ event.name }}{% endblock %}
{% block body_attr %} class="theme-{{ theme }}"{% endblock %}

{% block meta %}
<meta name="description" content="A list of schedules created for {{ event.name }}">
	<meta name="author" content="{{ event.owner.displayName }}">
	<link rel="index" href="{{ app.request.scheme }}://{{ app.request.host }}/{{ event.slug ~ appendix }}">
	{% if isPrivate %}<meta name="robots" content="noindex">
{% endif %}
{% endblock %}

{% block styles %}
<link href="{{ macros.asset('css/theme-' ~ theme ~ '.min.css') }}" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ macros.asset('css/app-frontend.min.css') }}" rel="stylesheet">
{% endblock %}

{% block navheader %}
<div class="navbar-header">
	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#h-collapse-nav">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a href="/{{ event.slug ~ appendix }}" class="navbar-brand">{{ event.name }}</a>
</div>
{% endblock %}

{% block navigation %}
<ul class="nav navbar-nav">
	{% if schedules|length == 1 %}
	<li><a href="/{{ event.slug }}/{{ schedules[0].slug ~ appendix }}" class="h-jail"><i class="fa fa-calendar"></i> {{ schedules[0].name == event.name ? 'Schedule' : schedules[0].name }}</a></li>
	{% elseif schedules|length != 0 %}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> Schedules <span class="caret"></span></a>
		<ul class="dropdown-menu">
			{% for sched in schedules %}
			<li><a href="/{{ event.slug }}/{{ sched.slug ~ appendix }}" class="h-jail">{{ sched.name }}</a></li>
			{% endfor %}
		</ul>
	</li>
	{%	endif %}
</ul>

<ul class="nav navbar-nav navbar-right">
	{% if event.website %}<li><a href="{{ event.website }}" target="_blank" title="{{ event.website }}"><i class="fa fa-globe"></i> <span class="hidden-sm">Website</span></a></li>{% endif %}
	{% if event.twitch %}<li><a href="http://twitch.tv/{{ event.twitch }}" target="_blank" title="{{ event.twitch }}"><i class="fa fa-twitch"></i> <span class="hidden-sm">{{ event.twitch }}</span></a></li>{% endif %}
	{% if event.twitter %}<li><a href="http://twitter.com/{{ event.twitter }}" target="_blank" title="@{{ event.twitter }}"><i class="fa fa-twitter"></i> <span class="hidden-sm">{{ event.twitter }}</span></a></li>{% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
		<p class="text-center">
			<img src="{{ macros.asset('images/error-404.png') }}" alt="Schedule Not Found" class="img-responsive">
		</p>
	</div>
</div>
{% endblock %}
