{% extends "frontend/layout.twig" %}

{% set theme     = schedule.theme                                %}
{% set start     = schedule.localStart                           %}
{% set columns   = schedule.visibleColumns                       %}
{% set numCols   = columns|length                                %}
{% set fluid     = numCols > 4                                   %}
{% set appendix  = key ? '?key=' ~ key : ''                      %}
{% set precision = schedule.needsSeconds ? 'seconds' : 'minutes' %}
{% set dtformat  = precision == 'seconds' ? 'H:i:s' : 'H:i'      %}

{% block fulltitle %}{{ schedule.name }} &ndash; {{ event.name }}{% endblock %}
{% block body_attr %} class="theme-{{ theme }}"{% endblock %}

{% block meta %}
<meta name="description" content="{{ schedule.name }} of {{ event.name }}">
	<meta name="author" content="{{ event.owner.displayName }}">
	<link rel="canonical" href="{{ app.request.scheme }}://{{ app.request.host }}/{{ event.slug }}/{{ schedule.slug ~ appendix }}">
	<link rel="index" href="{{ app.request.scheme }}://{{ app.request.host }}/{{ event.slug ~ appendix }}">
	{% if isPrivate %}<meta name="robots" content="noindex">
{% endif %}
{% endblock %}

{% block styles %}
<link href="{{ macros.asset('css/theme-' ~ theme ~ '.min.css') }}" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ macros.asset('css/app-frontend.min.css') }}" rel="stylesheet">
{% endblock %}

{% block navheader %}
<div class="navbar-header">
	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#h-collapse-nav">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a href="/{{ event.slug ~ appendix }}" class="navbar-brand">{{ event.name }}</a>
</div>
{% endblock %}

{% block navigation %}
<ul class="nav navbar-nav">
	{% if schedules|length == 1 %}
	<li><a href="/{{ event.slug }}/{{ schedules[0].slug ~ appendix }}" class="h-jail"><i class="fa fa-calendar"></i> {{ schedules[0].name == event.name ? 'Schedule' : schedules[0].name }}</a></li>
	{% elseif schedules|length != 0 %}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> Schedules <span class="caret"></span></a>
		<ul class="dropdown-menu">
			{% for sched in schedules %}
			<li><a href="/{{ event.slug }}/{{ sched.slug ~ appendix }}" class="h-jail">{{ sched.name }}</a></li>
			{% endfor %}
		</ul>
	</li>
	{%	endif %}
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i> Tools <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="/{{ event.slug }}/{{ schedule.slug }}/ical-feed{{ appendix }}"><i class="fa fa-calendar"></i> iCal Feed</a></li>
			<li class="divider"></li>
			<li><a href="/{{ event.slug }}/{{ schedule.slug }}.json?named=true{{ key ? '&key=' ~ key : '' }}"><i class="fa fa-download"></i> Export as JSON</a></li>
			<li><a href="/{{ event.slug }}/{{ schedule.slug }}.xml?named=true{{ key ? '&key=' ~ key : '' }}"><i class="fa fa-download"></i> Export as XML</a></li>
			<li><a href="/{{ event.slug }}/{{ schedule.slug }}.csv?named=true{{ key ? '&key=' ~ key : '' }}"><i class="fa fa-download"></i> Export as CSV</a></li>
		</ul>
	</li>
</ul>

{% set website = schedule.website|default(event.website) %}
{% set twitch  = schedule.twitch|default(event.twitch)   %}
{% set twitter = schedule.twitter|default(event.twitter) %}

<ul class="nav navbar-nav navbar-right">
	{% if website %}<li><a href="{{ website }}" target="_blank" title="{{ website }}"><i class="fa fa-globe"></i> <span class="hidden-sm">Website</span></a></li>{% endif %}
	{% if twitch %}<li><a href="http://twitch.tv/{{ twitch }}" target="_blank" title="{{ twitch }}"><i class="fa fa-twitch"></i> <span class="hidden-sm">{{ twitch }}</span></a></li>{% endif %}
	{% if twitter %}<li><a href="http://twitter.com/{{ twitter }}" target="_blank" title="@{{ twitter }}"><i class="fa fa-twitter"></i> <span class="hidden-sm">@{{ twitter }}</span></a></li>{% endif %}
</ul>
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/Event">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 class="h-jail" itemprop="name">{{ schedule.name }}</h2>
			{{ description|raw }}
		</div>
	</div>

	{% if schedule.items is empty %}
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-1 col-xs-12">
			<div class="alert alert-info">
				<i class="fa fa-info-circle"></i> This schedule is currently empty. Check back later.
			</div>
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="col-lg-12 text-center">
			<h4>Starts on <strong itemprop="startDate"><time datetime="{{ start.format('Y-m-d\\TH:i:sP') }}" class="h-fancy" id="h-schedule-start">{{ start.format('l, F d, Y') }}</time></strong></h4>
		</div>
	</div>

	<div class="h-ticker row"></div>

	<div class="row">
		<div class="col-lg-12">
			<p class="text-center text-muted" id="localized-note">
				<small>All dates and times are given in {{ schedule.timezone }} timezone (UTC{{ start.format('P') }}).</small>
				<small class="nope">All dates and times are given in your local timezone.</small>
				<small class="show">The schedule was last updated <time datetime="{{ schedule.localUpdatedAt.format('Y-m-d\\TH:i:sP') }}" class="h-relative h-fuzzy">{{ schedule.localUpdatedAt.format('F d, Y \\a\\t H:i:s') }}</time>.</small>
			</p>
		</div>
	</div>

	<table class="table h-schedule h-l{{ schedule.getMaxItemWidth(columns) }}" data-columns="{{ numCols }}" data-precision="{{ precision }}">
		<thead>
			<tr>{% spaceless %}
				<th class="h-s">{{ schedule.text('col-scheduled')|default('Scheduled') }}</th>
				<th class="h-0">{{ columns[0].name }}</th>
				<th class="h-l">{{ schedule.text('col-estimate')|default('Estimate') }}</th>
				{% for idx,column in columns.slice(1) %}
				<th class="h-{{ idx }}">{{ column.name }}</th>
				{% endfor %}
			{% endspaceless %}</tr>
		</thead>

		{% set old = null %}
		{% set end = null %}

		{% for idx,item in schedule.scheduledItems %}
		<tbody class="{{ idx % 2 ? 'h-odd' : 'h-even' }} h-i-l{{ item.getWidth(columns) }}">
			{% if idx > 0 and old != item.scheduled.format('d') %}
			<tr class="h-new-day info">
				<td colspan="{{ numCols + 2 }}">{{ item.scheduled.format('l, F d, Y') }}</td>
			</tr>
			{% endif %}

			<tr class="h-primary">
				{% set extra = item.extra %}
				<td class="h-s"><time datetime="{{ item.scheduled.format('Y-m-d\\TH:i:sP') }}">{{ item.scheduled.format(dtformat) }}</time></td>
				<td class="h-0">{{ utils.markdown(extra[columns[0].id]|default(''))|raw }}</td>
				<td class="h-l"><time datetime="{{ item.isoDuration }}">{{ item.length.format('H:i:s') }}</time></td>
				{% for idx,column in columns.slice(1) %}
				<td class="h-{{ idx }}">{{ utils.markdown(extra[column.id]|default(''))|raw }}</td>
				{% endfor %}
			</tr>

			{% set old = item.scheduled.format('d') %}
			{% set end = item %}
		</tbody>
		{% endfor %}
	</table>

	<div class="row">
		<div class="col-lg-12 text-center">
			{% set endDate = end.scheduledEnd %}
			<h4>Ends at <strong itemprop="endDate"><time datetime="{{ endDate.format('Y-m-d\\TH:i:sP') }}" class="h-fancy-time" id="h-schedule-end">{{ endDate.format('H:i:s') }}</time></strong></h4>
		</div>
	</div>
</div>

<script type="text/html" id="ticker">
<div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1">
	<div class="panel panel-success h-current">
		<div class="panel-heading">
			<h3 class="panel-title pull-right"><a href="#" class="h-jumper">jump to <i class="fa fa-angle-double-down"></i></a></h3>
			<h3 class="panel-title">Currently showing:</h3>
		</div>
		<div class="panel-body">&nbsp;</div>
	</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-5">
	<div class="panel panel-default h-next">
		<div class="panel-heading">
			<h3 class="panel-title">Next up <time datetime="{{ start.format('Y-m-d\\TH:i:sP') }}" class="h-relative"></time>:</h3>
		</div>
		<div class="panel-body">&nbsp;</div>
	</div>
</div>
</script>

{% if numCols > 1 %}
<script type="text/html" id="toggler">
<div class="text-right h-l{{ schedule.getMaxItemWidth(columns) }}">
	<button class="btn-link btn-xs btn-default h-co" id="h-toggle-usability"><i class="fa fa-table"></i> Toggle full view</button>
</div>
</script>

<script type="text/html" id="controls">
<td class="h-co">
	<button class="btn btn-link btn-xs" rel="more"><i class="fa fa-angle-double-down"></i> more</button>
	<button class="btn btn-link btn-xs" rel="less"><i class="fa fa-angle-double-up"></i> less</button>
	<button class="btn btn-link btn-xs" disabled><i class="fa fa-angle-double-down"></i> more</button>
</td>
</script>

<script type="text/html" id="expanded_tpl">
<tr class="h-secondary">
	<td colspan="{{ numCols + 3 }}">
		<dl class="dl-horizontal">
			<dt class="h-e-l">{{ schedule.text('col-estimate')|default('Estimate') }}:</dt>
			<dd class="h-e-l">&nbsp;</dd>
			{% for idx,column in columns.slice(1) %}
			<dt class="h-e-{{ idx }}">{{ column.name }}:</dt>
			<dd class="h-e-{{ idx }}">&nbsp;</dd>
			{% endfor %}
		</dl>
	</td>
</tr>
</script>
{% endif %}
{% endif %}
{% endblock %}
