{% extends "backend.twig" %}

{% block title %}Columns… &ndash; {{ schedule.name }} &ndash; {{ schedule.event.name }}{% endblock %}
{% block body_attr %} class="theme-horaro" data-ui="columnist"{% endblock %}

{% block content %}
<ul class="breadcrumb h-jail">
	<li><a href="/-/home">Home</a></li>
	<li><a href="/-/events/{{ schedule.event.id|obscurify('event') }}">{{ schedule.event.name|shorten(45) }}</a></li>
	<li><a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}">{{ schedule.name|shorten(45) }}</a></li>
	<li>Edit Columns…</li>
</ul>

<div class="row">
	<div class="col-lg-12 col-md-12">
		<h2>Edit Columns</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<p class="text-center text-muted"><small>Configure what information your schedule will contain.</small></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-5 col-md-6 col-sm-6" id="h-columnist-container">
		<table class="table">
			<thead>
				<tr>
					<th class="h-name">Column Name</th>
					<th class="h-ishidden">hidden</th>
					<th class="h-controls">&nbsp;</th>
				</tr>
			</thead>

			<!-- ko foreach: fixedColumns -->
			{% include 'schedule/column.twig' with {'schedule': schedule, 'columns': schedule.columns} %}
			<!-- /ko -->
		</table>

		<table class="table h-columnist" data-id="{{ schedule.id|obscurify('schedule') }}">
			<!-- ko foreach: flexibleColumns -->
			{% include 'schedule/column.twig' with {'schedule': schedule, 'columns': schedule.columns} %}
			<!-- /ko -->
		</table>

		<!-- ko if: hasNewColumn() -->
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-4 col-xs-offset-4 text-center">
				<a href="#" id="h-add-model" class="btn btn-success btn-block btn-sm disabled"><i class="fa fa-plus fa-1x"></i> add column</a>
			</div>
		</div>
		<!-- /ko -->

		<!-- ko if: !hasNewColumn() -->
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-center">
				<a href="#" id="h-add-model" data-bind="click: add, activate: add" class="btn btn-success btn-block btn-sm"><i class="fa fa-plus fa-1x"></i> add column</a>
			</div>
		</div>
		<!-- /ko -->
	</div>

	<div class="col-lg-7 col-md-6 col-sm-6 h-formhelp-columnist">
		<p>Each schedule has its own set of columns, which control what data you can edit in the schedule
		(duh). There are two columns fixed columns for each schedule:</p>

		<ol>
			<li>&quot;Scheduled&quot;, the scheduled start time (automatically calculated)</li>
			<li>&quot;Estimate&quot; (the duration of the entry; a time span like <kbd>01:20:00</kbd>)</li>
		</ol>

		<p>You can rename these columns, but cannot move them around or remove them.</p>

		<p>In addition, each schedule must have at least one, but no more than ten, user defined
		columns. You can move these freely around and change them at any time.</p>

		<p>Use the handle on the left of each row to move columns up and down. Positioning is important
		when you have more than two or three columns:</p>

		<p>You want to move the most important columns at the top, so they are always visible. Also,
		keep the column names short and simple.</p>

		<h4>Mobile Devices Considerations</h4>

		<p>Keep in mind that your audience on mobile devices has smaller screens and can therefore not
		easily consume a schedule with lots of columns. Depending on the device size, excessive columns
		will be hidden by default and only shown when the user clicks on a link (pretty much like the
		editing of schedules work).</p>

		<p>On a phone in portait mode, only the first column is shown. In landscape mode (around 600px
		in width), the second column and the length is shown. Then, for each ~200px more in width, one
		more column is shown.</p>

		<h4>Hidden Columns</h4>

		<p>By default, columns are visible everywhere, i.e. shown to all visitors on the website and
		available through the API. You can change that however by using the checkboxes for each column.
		Hidden columns will not show up on the schedule page (because of that, they also do not count
		against the 10 column limit), <strong>but are still included in the API</strong>.</p>

		<p>If you want to hide them completely (even in the API), configure a &quot;hidden column
		secret&quot; in <a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}/edit">this schedule's
		settings</a>. When set, the columns and their data will only be returned when this secret is
		given like so:</p>

		<p><code>/{{ schedule.event.slug }}/{{ schedule.slug }}.json?hiddenkey=…</code> (for the simple exports on the schedule page)</p>
		<p><code>/-/api/v1/events/{{ schedule.event.slug }}/schedules/{{ schedule.slug }}?hiddenkey=…</code> (for the API)</p>
	</div>
</div>

<script type="application/json" id="h-column-data">
{{ columns|json_encode|raw }}
</script>
{% endblock %}
