{% extends "backend.twig" %}

{% set start   = schedule.localStart %}
{% set numCols = columns|length      %}
{% set fluid   = numCols > 3         %}

{% block title %}{{ schedule.name }} &ndash; {{ schedule.event.name }}{% endblock %}
{% block body_attr %} class="theme-horaro" data-ui="scheduler"{% endblock %}

{% block content %}
<ul class="breadcrumb h-jail">
	<li><a href="/-/home">Home</a></li>
	<li><a href="/-/events/{{ schedule.event.id|obscurify('event') }}">{{ schedule.event.name|shorten(45) }}</a></li>
	<li>{{ schedule.name|shorten(45) }}</li>
</ul>

<div class="row h-scheduler-header">
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
		<h2 class="h-jail"><a href="{{ schedule.link }}" target="_blank">{{ schedule.name|shorten(45) }}</a> <sup><small><i class="fa fa-external-link"></i></small></sup></h2>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
		<div class="btn-group pull-right">
			<button type="button" class="btn dropdown-toggle btn-sm" data-toggle="dropdown">
				<i class="fa fa-cog"></i> Actions <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}/edit"><i class="fa fa-calendar"></i> Edit schedule…</a></li>
				<li><a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}/columns/edit"><i class="fa fa-columns"></i> Edit columns…</a></li>
				<li class="divider"></li>
				<li><a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}/export?format=json"><i class="fa fa-save"></i> Export as JSON</a></li>
				<li><a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}/export?format=xml"><i class="fa fa-save"></i> Export as XML</a></li>
				<li><a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}/export?format=ical"><i class="fa fa-save"></i> Export as iCal</a></li>
				<li><a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}/export?format=csv"><i class="fa fa-save"></i> Export as CSV</a></li>
				<li class="divider"></li>
				<li><a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}/import"><i class="fa fa-upload"></i> Import…</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 text-center">
		<h4>Starts on <strong><time datetime="{{ start.format('Y-m-d\\TH:i:sP') }}" class="h-fancy">{{ start.format('Y-m-d H:i:s') }}</time></strong> (<span title="UTC{{ start.format('P') }}" class="h-tooltip">{{ schedule.timezone }}</span> time)</h4>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<p class="text-center text-muted"><small>
			Click on an item to edit its details. Use the buttons on the right to move rows up and down or delete them entirely.<br>
			You can use basic Markdown (<strong>**bold**</strong>, <em>*italic*</em>, [link name](http://example.com/)) for formatting.
			{% if schedule.setupTime %}
			<br>Note: The <strong>{{ utils.readableTime(schedule.setupTime) }} setup time</strong> in between all rows is added automatically.
			{% endif %}
		</small></p>
	</div>
</div>

<div class="row" id="h-scheduler-loading">
	<div class="col-lg-12">
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>
</div>

<div id="h-scheduler-container">
	<table class="table h-l{{ numCols }}">
		<thead>
			<tr>
				<th class="h-s">{{ schedule.text('col-scheduled')|default('Scheduled') }}</th>
				<th class="h-l">{{ schedule.text('col-estimate')|default('Estimate') }}</th>
				{% for idx,column in schedule.columns|slice(0,10) %}
				<th class="h-{{ idx }}">{{ column.name }}</th>
				{% endfor %}
				<th class="h-co">&nbsp;</th>
			</tr>
		</thead>
	</table>

	<table
		class="table h-scheduler h-l{{ numCols }}"
		data-id="{{ schedule.id|obscurify('schedule') }}"
		data-start="{{ start.format('Y-m-d\\TH:i:sP') }}"
		data-setuptime="{{ schedule.setupTimeInSeconds }}"
		data-tz="{{ start.format('P') }}"
		data-columns="{{ columns|join(',') }}"
		data-maxitems="{{ maxItems }}"
	>
		<!-- ko foreach: items -->
		{% include 'schedule/item.twig' with {'schedule': schedule, 'items': schedule.items, 'columns': schedule.columns, 'numCols' : numCols} %}
		<!-- /ko -->

		<!-- ko if: items().length === 0 -->
		<tbody>
			<tr>
				<td colspan="{{ numCols + 4 }}" class="text-center active">
					Click on the button below to create the first row in this schedule.
				</td>
			</tr>
		</tbody>
		<!-- /ko -->
	</table>

	<!-- ko if: hasNewItem() || isFull() -->
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 text-center">
			<a href="#" id="h-add-model" class="btn btn-success btn-block btn-sm disabled"><i class="fa fa-plus fa-1x"></i> add row</a>
		</div>
	</div>
	<!-- /ko -->

	<!-- ko if: !hasNewItem() && !isFull() -->
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 text-center">
			<a href="#" id="h-add-model" data-bind="click: add, activate: add" class="btn btn-success btn-block btn-sm"><i class="fa fa-plus fa-1x"></i> add row</a>
		</div>
	</div>
	<!-- /ko -->
</div>

<script type="application/json" id="h-item-data">
{{ items|json_encode|raw }}
</script>
{% endblock %}
