{% extends "layout.twig" %}

{% block content %}
<ul class="breadcrumb" style="margin-bottom: 5px;">
	<li><a href="/-/home">Home</a></li>
	<li><a href="/-/events/{{ schedule.event.id }}">{{ schedule.event.name }}</a></li>
	<li>{{ schedule.name }}</li>
</ul>

<div class="row">
	<div class="col-lg-12">
		<h2>{{ schedule.name }} <a href="/-/schedules/{{ schedule.id }}/edit" class="btn btn-link btn-sm">Edit details&hellip;</a></h2>

		<p class="text-center text-muted"><small>Click on an item to edit its details. Click and drag the handle on the left side to move items up or down.</small></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 h-scheduler">
		<div class="panel panel-default h-header">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-1 h-th">
						<span class="h-handle">&nbsp;&nbsp;</span>Scheduled
					</div>
					<div class="col-lg-2 h-th">
						Game
					</div>
					<div class="col-lg-2 h-th">
						Runners
					</div>
					<div class="col-lg-1 h-th">
						Estimated
					</div>
					<div class="col-lg-3 h-th">
						Comments
					</div>
					<div class="col-lg-2 h-th">
						Couch Commentators
					</div>
				</div>
			</div>
		</div>

		{% for item in schedule.items %}
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-1">
						<span class="h-handle">::</span>{{ item.length|date('H:i:s') }}
					</div>
					<div class="col-lg-2 h-th">
						Game
					</div>
					<div class="col-lg-2 h-th">
						Runners
					</div>
					<div class="col-lg-1 h-th">
						Estimated
					</div>
					<div class="col-lg-3 h-th">
						Comments
					</div>
					<div class="col-lg-2 h-th">
						Couch Commentators
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
