{% extends "layout.twig" %}

{% block content %}
<ul class="breadcrumb" style="margin-bottom: 5px;">
	<li><a href="/-/home">Home</a></li>
	<li><a href="/-/events/{{ schedule.event.id }}">{{ schedule.event.name }}</a></li>
	<li>{{ schedule.name }}</li>
</ul>

<div class="row">
	<div class="col-lg-12">
		<h2>{{ schedule.name }} <a href="/-/schedules/{{ schedule.id }}/edit" class="btn btn-link btn-sm">Edit details&hellip;</a></h2>

		<p class="text-center text-muted"><small>Click on an item to edit its details. Click and drag the handle on the left side to move items up or down.</small></p>
	</div>
</div>

<table class="table h-scheduler">
	<thead>
		<tr>
			<th class="h-handle">&nbsp;</th>
			<th class="h-scheduled">Scheduled</th>
			<th class="h-length">Estimated</th>
			{% for idx,column in schedule.columns.slice(0,4) %}
			<th class="h-column {{ utils.scheduleClass(idx, 8) }}">{{ column.name }}</th>
			{% endfor %}
			<th class="h-controls">&nbsp;</th>
		</tr>
	</thead>

	<!-- ko foreach: items -->
	{% include 'schedule/item.twig' with {'schedule': schedule, 'items': schedule.items, 'columns': schedule.columns} %}
	<!-- /ko -->
</table>

<div class="row">
	<div class="col-lg-12 text-center">
		<a><i class="fa fa-plus fa-1x"></i> add item&hellip;</a>
	</div>
</div>

<script type="text/javascript">
var horaro = horaro||{};

horaro.schedule = {
	id: {{ schedule.id }},
	name: 'Main Schedule',
	slug: 'main-schedule',
	timezone: 'UTC',
	start: new Date('2014-06-22T18:00:00Z')
};
</script>
{% endblock %}
