{% extends "backend.twig" %}
{% import "macros.twig" as macros %}

{% block title %}{% if schedule %}{{ schedule.name }}{% else %}New Schedule…{% endif %} &ndash; {{ event.name }}{% endblock %}

{% block content %}
<ul class="breadcrumb h-jail">
	<li><a href="/-/home">Home</a></li>
	<li><a href="/-/events/{{ event.id|obscurify('event') }}">{{ event.name|shorten(45) }}</a></li>
	{% if schedule %}
	<li><a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}">{{ schedule.name|shorten(45) }}</a></li>
	<li>Update Schedule…</li>
	{% else %}
	<li>New Schedule…</li>
	{% endif %}
</ul>

<div class="row">
	<div class="col-lg-12 col-md-12">
		<h2>{% if schedule %}Update Schedule{% else %}Create a New Schedule{% endif %}</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-7">
		<div class="well">
			{% if schedule %}
			<form method="post" action="/-/schedules/{{ schedule.id|obscurify('schedule') }}" class="form-horizontal">
				<div><input type="hidden" id="_method" name="_method" value="PUT" /></div>
			{% else %}
			<form method="post" action="/-/events/{{ event.id|obscurify('event') }}/schedules" class="form-horizontal">
			{% endif %}
				<fieldset>
					<legend>Schedule Information</legend>
					{{ macros.csrf_token() }}

					<div class="form-group">
						<label class="col-lg-3 control-label" for="name">Belongs to:</label>
						<div class="col-lg-9">
							<p class="form-control-static h-jail">{{ event.name }}</p>
						</div>
					</div>

					<div class="form-group{{ utils.formClass(result, 'name') }}">
						<label class="col-lg-3 control-label" for="name">Name:</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="name" name="name" autofocus required placeholder="Main Schedule" value="{{ utils.formValue(result, 'name', schedule ? schedule.name : '') }}">
							{{ macros.form_errors(result, 'name') }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(result, 'slug') }}">
						<label class="col-lg-3 control-label" for="slug">Slug:</label>
						<div class="col-lg-9">
							<div class="input-group">
								<div class="input-group-addon">/{{ event.slug }}/</div>
								<input type="text" class="form-control" id="slug" name="slug" required placeholder="schedule" pattern="[a-z0-9-]{2,}" value="{{ utils.formValue(result, 'slug', schedule ? schedule.slug : '') }}">
							</div>
							{{ macros.form_errors(result, 'slug') }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(result, 'website') }}">
						<label class="col-lg-3 control-label" for="website">Website:</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="website" name="website" placeholder="http://www.pongathon.org/" value="{{ utils.formValue(result, 'website', schedule ? schedule.website : '') }}">
							{{ macros.form_errors(result, 'website') }}
							<span class="help-block">If you leave this empty, the event's website {% if event.website %}({{ event.websitehost }}) {% endif %}will be used.</span>
						</div>
					</div>

					<div class="form-group{{ utils.formClass(result, 'twitch') }}">
						<label class="col-lg-3 control-label" for="twitch">Twitch Stream:</label>
						<div class="col-lg-9">
							<div class="input-group">
								<div class="input-group-addon">http://twitch.tv/</div>
								<input type="text" class="form-control" id="twitch" name="twitch" placeholder="pongathon" value="{{ utils.formValue(result, 'twitch', schedule ? schedule.twitch : '') }}">
							</div>
							{{ macros.form_errors(result, 'twitch') }}
							<span class="help-block">If you leave this empty, the event's stream {% if event.twitch %}({{ event.twitch }}) {% endif %}will be used.</span>
						</div>
					</div>

					<div class="form-group{{ utils.formClass(result, 'twitter') }}">
						<label class="col-lg-3 control-label" for="twitter">Twitter Account:</label>
						<div class="col-lg-9">
							<div class="input-group">
								<div class="input-group-addon">@</div>
								<input type="text" class="form-control" id="twitter" name="twitter" placeholder="pongathon" value="{{ utils.formValue(result, 'twitter', schedule ? schedule.twitter : '') }}">
							</div>
							{{ macros.form_errors(result, 'twitter') }}
							<span class="help-block">If you leave this empty, the event's account {% if event.twitter %}(@{{ event.twitter }}) {% endif %}will be used.</span>
						</div>
					</div>

					<div class="form-group{{ utils.formClass(result, 'timezone') }}">
						<label class="col-lg-3 control-label" for="timezone">Timezone:</label>
						<div class="col-lg-9">
							{% set tz = utils.formValue(result, 'timezone', schedule ? schedule.timezone : 'UTC') %}
							<select name="timezone" id="timezone" class="form-control h-fancy">
							{% for timezone in timezones %}
								<option{% if tz == timezone %} selected{% endif %}>{{ timezone }}</option>
							{% endfor %}
							</select>
							{{ macros.form_errors(result, 'timezone') }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(result, 'start') }}">
						<label class="col-lg-3 control-label" for="start_date">Start:</label>
						<div class="col-lg-9">
							<div class="row">
  								<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
									<input type="text" class="form-control" id="start_date" name="start_date" required placeholder="(click to edit)" data-value="{{ utils.formValue(result, 'start_date', schedule ? schedule.start|date('Y-m-d') : '') }}">
								</div>

  								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
									<input type="text" class="form-control" id="start_time" name="start_time" required placeholder="(click to edit)" data-value="{{ utils.formValue(result, 'start_time', schedule ? schedule.start|date('H:i') : '') }}">
								</div>
							</div>
							{{ macros.form_errors(result, 'start') }}
						</div>
					</div>

					<div class="form-group{{ utils.formClass(result, 'theme') }}">
						<label class="col-lg-3 control-label" for="theme">Theme:</label>
						<div class="col-lg-9">
							{% set t = utils.formValue(result, 'theme', schedule ? schedule.theme : defaultTheme) %}
							<select name="theme" id="theme" class="form-control h-fancy">
							{% for themeKey,themeName in themes %}
								<option value="{{ themeKey }}"{% if t == themeKey %} selected{% endif %}>{{ themeName }}</option>
							{% endfor %}
							</select>
							{{ macros.form_errors(result, 'theme') }}
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-12 text-center">
							<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check"> </i> {% if schedule %}Update{% else %}Create{% endif %} Schedule</button>
							{% if schedule %}
							&ndash; or &ndash;
							<a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}/delete" class="btn btn-warning btn-sm"><i class="fa fa-trash-o"></i> Delete Schedule</a>
							{% endif %}
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-5 h-formhelp">
		<legend><span class="hidden-xs">Side</span><span class="hidden-lg hidden-md hidden-sm">Foot</span> Notes</legend>
		<p>The <strong>slug</strong> is used for the URLs to view the schedule and is appended to the
		slug of the event (i.e. <code>/eventslug/scheduleslug</code>). Use something alphanumeric and short,
		e.g. &quot;schedule&quot; if your event will only have one schedule. The slug has to be unique
		<em>within an event</em>, so each event can have a slug named <code>schedule</code>. A slug
		must be at least two characters long.</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12">
		<h3>Themes</h3>
	</div>
</div>

<div class="row">
	{% for key,name in app.config.themes %}
	<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 text-center">
		<img src="{{ macros.asset('images/themes/' ~ key ~ '-small.png') }}" alt="Example screenshot of the {{ name }} theme in action" class="img-thumbnail">
		<h4>{{ name }}</h4>
	</div>
	{% endfor %}
</div>
{% endblock %}
