{# Do not use the ternary operator because the secure bindings for Knockout do not support them. #}
<tbody data-bind="attr: {'data-itemid': id, 'class': bodyClass(), 'draggable': 'true' }">
	<!-- ko if: dateSwitch -->
	<tr class="h-new-day">
		<td colspan="{{ numCols + 4 }}" data-bind="text: dateSwitch"></td>
	</tr>
	<!-- /ko -->

	<tr class="h-primary">
		<td data-bind="attr: { class: 'h-s ' + rowClass() }"><span data-bind="text: formattedSchedule"></span></td>
		<td data-bind="attr: { class: 'h-l ' + rowClass() }">
			<!-- ko if: errors -->
			<a href="#" data-bind="editable: formattedLength, editableOptions: { hidden: onEditableHidden }, attr: { title: errors().length[0] }"></a>
			<!-- /ko -->

			<!-- ko if: !errors() -->
			<a href="#" data-bind="editable: formattedLength, editableOptions: { hidden: onEditableHidden }"></a>
			<!-- /ko -->
		</td>

		{% for idx,column in columns|slice(0,10) %}
		<td data-bind="attr: { class: 'h-{{ idx }} ' + rowClass() }"><a href="#" data-bind="editable: col_{{ column.id|obscurify('schedule.column') }}, editableOptions: { hidden: onEditableHidden, display: getDisplayText }"></a></td>
		{% endfor %}

		<td data-bind="attr: { class: 'h-co text-right ' + rowClass() }">
			<!-- ko if: !deleting() -->
			<span>
				<button class="btn btn-link btn-xs" data-bind="click: toggle, activate: toggle, visible: !expanded()"><i class="fa fa-angle-double-down"></i> more</button>
				<button class="btn btn-link btn-xs" data-bind="click: toggle, activate: toggle, visible: expanded"><i class="fa fa-angle-double-up"></i> less</button>
			</span>
			<button data-bind="click: moveUp, activate: moveUp, attr: { class: 'btn move-up btn-xs' + (first() && ' disabled' || ' btn-default') }"><i class="fa fa-arrow-up"></i></button>
			<button data-bind="click: moveDown, activate: moveDown, attr: { class: 'btn move-down btn-xs' + (last() && ' disabled' || ' btn-default') }"><i class="fa fa-arrow-down"></i></button>
			<button data-bind="click: confirmDelete, activate: confirmDelete, attr: { class: 'btn btn-danger btn-xs' + (id() === -1 && ' disabled' || '') }"><i class="fa fa-trash-o"></i></button>
			<!-- /ko -->

			<!-- ko if: deleting() -->
			<button class="btn btn-danger btn-xs" data-bind="click: doDelete, activate: doDelete"><i class="fa fa-trash-o"></i></button>
			<button class="btn btn-default btn-xs" data-bind="click: cancelDelete, activate: cancelDelete"><i class="fa fa-undo"></i></button>
			<!-- /ko -->
		</td>
	</tr>

	<!-- ko if: expanded -->
	<tr class="h-secondary">
		<td colspan="{{ numCols + 3 }}">
			<dl class="dl-horizontal">
				{% for idx,column in columns.slice(1) %}
				<dt class="h-e-{{ idx }}">{{ column.name }}:</dt>
				<dd class="h-e-{{ idx }}"><a href="#" data-bind="editable: col_{{ column.id|obscurify('schedule.column') }}, editableOptions: { hidden: onEditableHidden, display: getDisplayText }"></a></dd>
				{% endfor %}
			</dl>
		</td>
	</tr>
	<!-- /ko -->
</tbody>
