<tbody class="h-item" data-bind="attr: {'data-itemid': id}">
	<tr class="h-primary">
		<td class="h-handle">::</td>
		<td class="h-scheduled"><span data-bind="text: formattedSchedule"></span></td>
		<td class="h-length"><span data-bind="editable: formattedLength"></span></td>

		{% for idx,column in columns.slice(0, 4) %}
		<td class="h-column {{ utils.scheduleClass(idx, 8) }}"><span data-bind="editable: col_{{ column.id }}, attr: {id: 'h_col_' + id + '_{{ column.id }}', 'data-colid': {{ column.id }}}"></span></td>
		{% endfor %}

		<td class="text-right h-controls">
			<button class="btn btn-link btn-xs" rel="more" data-bind="click: $parent.toggleItem, visible: !expanded()"><i class="fa fa-angle-double-down"></i> more</button>
			<button class="btn btn-link btn-xs" rel="more" data-bind="click: $parent.toggleItem, visible: expanded"><i class="fa fa-angle-double-up"></i> less</button>
			<button class="btn btn-danger btn-xs" rel="delete"><i class="fa fa-trash-o"></i></button>
		</td>
	</tr>

	<!-- ko if: expanded -->
	<tr class="h-secondary">
		<td colspan="100">
			<!-- three elements per row, for large devices -->
			{% for idx,column in columns.slice(4) %}
				{% if loop.index0 % 3 == 0 %}
				<div class="row h-item-more hidden-md hidden-sm hidden-xs">
				{% endif %}

				<div class="col-lg-2 text-right">
					<strong>{{ column.name }}:</strong>
				</div>
				<div class="col-lg-2">
					<span data-bind="editable: col_{{ column.id }}, attr: {id: 'h_col_' + id + '_{{ column.id }}_lg', 'data-colid': {{ column.id }}}"></span>
				</div>

				{% if loop.index0 % 3 == 2 %}
				</div>
				{% endif %}
			{% endfor %}

			{% if columns.length % 2 == 0 %}
			</div>
			{% endif %}

			<!-- two elements per row, for medium devices -->
			{% for idx,column in columns.slice(3) %}
				{% if loop.index0 % 2 == 0 %}
				<div class="row h-item-more hidden-lg hidden-sm hidden-xs">
				{% endif %}

				<div class="col-md-2 text-right">
					<strong>{{ column.name }}:</strong>
				</div>
				<div class="col-md-4">
					<span data-bind="editable: col_{{ column.id }}, attr: {id: 'h_col_' + id + '_{{ column.id }}_md', 'data-colid': {{ column.id }}}"></span>
				</div>

				{% if loop.index0 % 2 == 1 %}
				</div>
				{% endif %}
			{% endfor %}

			{% if columns.length % 2 == 0 %}
			</div>
			{% endif %}

			<!-- one row per element, for devices <= sm -->
			{% for idx,column in columns.slice(2) %}
			<div class="row h-item-more hidden-lg hidden-md">
				<div class="col-sm-4 col-xs-4 text-right">
					<strong>{{ column.name }}:</strong>
				</div>
				<div class="col-sm-8 col-xs-8">
					<span data-bind="editable: col_{{ column.id }}, attr: {id: 'h_col_' + id + '_{{ column.id }}_smxs', 'data-colid': {{ column.id }}}"></span>
				</div>
			</div>
			{% endfor %}
		</td>
	</tr>
	<!-- /ko -->
</tbody>
