<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome &ndash; Horaro</title>
	<link href="/assets/vendor.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
	<link href="/assets/app.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" id="top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Horaro</a>
			</div>

			{% block navigation %}
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{% if app.user %}
				<ul class="nav navbar-nav">
					<li><a href="/-/home"><i class="fa fa-home"></i> Home</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gamepad"></i> My Events <span class="caret"></span></a>
						<ul class="dropdown-menu">
							{% for event in app.user.events %}
							<li><a href="/-/events/{{ event.id }}">{{ event.name }}</a></li>
							{% endfor %}

							{% if app.user.events|length > 0 %}
							<li class="divider"></li>
							{% endif %}
							<li><a href="/-/events/new">New&hellip;</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> My Teams <span class="caret"></span></a>
						<ul class="dropdown-menu">
							{% for event in app.user.teams %}
							<li><a href="/-/teams/{{ team.id }}">{{ team.name }}</a></li>
							{% endfor %}

							{% if app.user.teams|length > 0 %}
							<li class="divider"></li>
							{% endif %}
							<li><a href="/-/teams/new">New&hellip;</a></li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/-/profile"><i class="fa fa-cog"></i> {{ app.user.name }}</a></li>
					<li><a href="/-/logout"><i class="fa fa-power-off"></i> Log-out</a></li>
				</ul>
				{% else %}
				<form method="post" action="/-/login" class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" name="username" placeholder="username" required>
					</div>
					<div class="form-group">
						<input type="password" name="password" placeholder="password" required>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log-in</button>
					</div>
				</form>
				{% endif %}
			</div>
			{% endblock %}
		</div>
	</nav>

	<div class="container" id="content">
		{% block content %}{% endblock %}
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
	<script src="/assets/js/vendor.backend.js"></script>

	{% verbatim %}
	<script type="text/javascript">
	jQuery(function($) {
		$('#start_date').pickadate({
			formatSubmit: 'yyyy-mm-dd',
			hiddenName: true
		});

		$('#start_time').pickatime({
			interval: 15,
			formatSubmit: 'HH:i',
			hiddenName: true
		});

		$.fn.editable.defaults.mode = 'popup';

		$.fn.editableform.buttons =
      '<button type="submit" class="btn btn-primary btn-xs editable-submit">'+
        '<i class="fa fa-check"></i>'+
      '</button>'+
      '<button type="button" class="btn btn-default btn-xs editable-cancel">'+
        '<i class="fa fa-ban"></i>'+
      '</button>';

		function Item(id, length, game, runners, comments, commentary) {
			this.id             = id;
			this.length         = ko.observable(length);
			this.game           = ko.observable(game);
			this.runners        = ko.observable(runners);
			this.comments       = ko.observable(comments);
			this.commentary     = ko.observable(commentary);
			this.prizes         = ko.observable(commentary);
			this.something      = ko.observable(commentary);
			this.donationReader = ko.observable(commentary);
			this.donations      = ko.observable(commentary);
			this.scheduled      = ko.observable();
			this.expanded       = ko.observable(false);

			this.formattedLength = ko.computed(function() {
				return moment.unix(this.length()).utc().format('HH:mm:ss');
			}, this);

			this.formattedSchedule = ko.computed(function() {
				return moment(this.scheduled()).locale('de').format('LT');
			}, this);
		}

		function ItemsViewModel() {
			this.items = ko.observableArray([
				new Item(1, 2*3600+30*60, 'Super Mario 3D World',    'SlowKingsPants', '',                 'Veegie64, Coolstoryliv'),
				new Item(2, 52*60,        'Crash Bandicoot: Warped', 'SSBMStuff'),
				new Item(3, 1*3600+26*60, 'Ape Escape 2',            'iongravirei',    'o[8(|)',           'SSBMStuff'),
				new Item(4, 32*60,        'Super Monkey Ball 2',     'Geoff, Miles',   'Expert mode race', 'Jumpyluff')
			]);

			this.calculateSchedule = function(startIdx) {
				var start, i, len, items, item, scheduled;

				startIdx = startIdx || 0;
				items    = this.items();

				if (startIdx === 0) {
					start = horaro.schedule.start.getTime();
				}
				else {
					start = items[startIdx].scheduled.getTime() + (items[startIdx].length() * 1000);
				}

				scheduled = start;

				for (i = startIdx, len = items.length; i < len; ++i) {
					item = items[i];

					item.scheduled(new Date(scheduled));

					scheduled += (item.length() * 1000);
				}
			};

			this.toggleItem = function(item) {
				console.log(item);
				item.expanded(!item.expanded());
			};

			this.calculateSchedule();
		}

		var viewModel = new ItemsViewModel();

		ko.applyBindings(viewModel);

		$('.h-items').sortable({
			handle: '.h-handle',
			forcePlaceholderSize: true
		});

		$('.h-items').sortable().on('sortupdate', function() {
			console.log("foo");
		});

		$('.h-xeditable').editable({
			highlight: '#93fcba'
		});
	});
	</script>
	{% endverbatim %}
</body>
