{% macro form_errors(result, field) %}
{% if result and result[field] is defined and result[field].errors and result[field].messages %}
<span class="help-block"><strong>
	{% for message in result[field].messages %}
		{{ message }}<br>
	{% endfor %}
</strong></span>
{% endif %}
{% endmacro %}

{% macro csrf_token() %}
<div><input type="hidden" name="{{ app.csrf.paramName }}" value="{{ app.csrf.token(app.session) }}" /></div>
{% endmacro %}

{% macro csrf_token_meta() %}
<meta name="csrf_token" content="{{ app.csrf.token(app.session) }}">
<meta name="csrf_token_name" content="{{ app.csrf.paramName }}">
{% endmacro %}

{% macro asset(path) %}
/assets/{% if app.debug %}{{ path }}{% else %}{{ utils.asset(path) }}{% endif %}
{% endmacro %}

{% macro render_pager(pager, baseUrl) %}
{% if pager.pages > 1 %}
<div class="text-center">
	{{ pager.htmlList('ul', [], 'page', baseUrl)|raw }}
</div>
{% endif %}
{% endmacro %}

{% macro back_button() %}
<button class="h-back-btn btn btn-default btn-sm"><i class="fa fa-arrow-left"></i> Go Back</button>
{% endmacro %}

{% macro backend_date(date) %}
<time datetime="{{ date|date('Y-m-d\\TH:i:sP') }}" class="h-fancy">{{ date|date('r') }}</time>
{% endmacro %}

{% macro backend_user_link(user) %}
{% if utils.userHasAdministrativeAccess(user) %}
<a href="/-/admin/users/{{ user.id }}/edit" class="text-{{ utils.roleClass(user.role) }}">{{ utils.roleIcon(user.role)|raw }} {{ user.name|shorten(30) }}</a>
{% else %}
<span class="text-{{ utils.roleClass(user.role) }}">{{ utils.roleIcon(user.role)|raw }} {{ user.name|shorten(30) }}</span>
{% endif %}
{% endmacro %}
