{% extends "frontend.twig" %}
{% import "macros.twig" as macros %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12 col-md-12">
		<h2>Create an Account</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-7">
		<div class="well">
			<form method="post" action="/-/register" class="form-horizontal">
				<fieldset>
					<legend>Your Information</legend>

					<div class="form-group{{ utils.formClass(result, 'login') }}">
						<label class="col-lg-3 control-label" for="login">Username:</label>
						<div class="col-lg-9">
							{{ macros.form_errors(result, 'login') }}
							<input type="text" class="form-control" id="login" name="login" autofocus required placeholder="cowen_hames69" value="{{ utils.formValue(result, 'login', '') }}">
							<span class="help-block">Letters, numbers and a few special characters are allowed here. This has to
							be unique across all users.</span>
						</div>
					</div>

					<div class="form-group{{ utils.formClass(result, 'password') }}">
						<label class="col-lg-3 control-label" for="password">Password:</label>
						<div class="col-lg-9">
							{{ macros.form_errors(result, 'password') }}
							<input type="password" class="form-control" id="password" name="password" required placeholder="secret123 is not a good password">
							<span class="help-block">Use whatever you like, but don't whine when someone guesses your shitty password.
							Your password is stored as a bcrypt hash.</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label" for="password2">Password again:</label>
						<div class="col-lg-9">
							<input type="password" class="form-control" id="password2" name="password2" required placeholder="secret123 is not a good password">
							<span class="help-block">Yeah yeah, just paste your password in here again.</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label" for="display_name">Display Name:</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="display_name" name="display_name" placeholder="Cowen Hames">
							<span class="help-block">This is the name that will be shown within Horaro. Leave it empty to
							just use your username. Display names don't have to be unique across all users and you can use
							whatever letters, numbers or symbols you want in here.</span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-12 text-center">
							<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> Create Account</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-5 h-formhelp">
		<legend><span class="hidden-xs">Side</span><span class="hidden-lg hidden-md hidden-sm">Foot</span> Notes</legend>

		<div class="alert alert-info">
			<strong>Heads up!</strong><br>
			You do <strong>not</strong> need an account to view public schedules or be on a schedule (as
			a participant in an event). Only create an account if you plan on <em>creating</em> schedules.
		</div>

		{% if app.config.oauth is not empty %}
		<p class="text-center">
			The best way to use Horaro is to {{ macros.twitch_oauth_starter() }}<br>
			<small class="text-muted">Horaro only gets access to your Twitch username, bio and display name.</small>
		</p>

		<p>
			If you don't wish to use Twitch or don't have an account with them, you can create a classic account.
			Both Twitch-based and classic accounts have the same features on Horaro.
		</p>
		{% endif %}

		<p>Please note that because we don't ask for your e-mail address, we cannot offer a
		password reset functionality. If you lose your password, you either have to create a new
		account or contact an administrator to manually reset your password.</p>
	</div>
</div>
{% endblock %}
