{% extends "admin/layout.twig" %}
{% import "macros.twig" as macros %}

{% set owner = schedule.event.user %}

{% block title %}{{ schedule.name }} &ndash; Admin{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12 col-md-12">
		<h2 class="h-jail"><a href="/-/admin/schedules">Schedules</a> \ {{ schedule.name|shorten(40) }} <small>{{ schedule.event.name|shorten(30) }}</small></h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-warning">
			<i class="fa fa-info-circle"></i> <strong>Hold On! Only delete schedules that are obvious
			dummies, tests or spam.</strong><br>
			If the schedule has been widely referenced and contains data of historic character,
			it might be a better idea to disable the owner's account and keep the data alive. At
			least consider making a backup as JSON/XML/SQL just in case.<br>
		</div>

		<p class="text-center"><strong>Do you really want to delete the schedule? There is no un-do for this.</strong></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-6 text-right">
		<a href="/-/admin/schedules/{{ schedule.id }}/edit" class="btn btn-default btn-sm"><i class="fa fa-undo"></i> No thanks</a>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
		<form method="post" action="/-/admin/schedules/{{ schedule.id }}">
			<div>
				{{ macros.csrf_token() }}
				<input type="hidden" id="_method" name="_method" value="DELETE" />
				<button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Yes, kill it!</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
