{% extends "admin/layout.twig" %}
{% import "macros.twig" as macros %}

{% block title %}Users &ndash; Admin{% endblock %}

{% block content %}
<h2>Users</h2>

<form method="get" action="/-/admin/users" class="form-inline text-center filter-form">
	<div class="form-group">
		<label class="sr-only" for="search-keyword">Keyword</label>
		<input type="text" class="form-control" id="search-keyword" name="q" placeholder="Keyword" value="{{ query }}">
	</div>
	<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"> </i> Search</button>
</form>

{% if users is empty %}
<div class="alert alert-info">
	<i class="fa fa-info-circle"></i> No users were found matching the query.
</div>
{% else %}
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th colspan="2">ID</th>
			<th>Username</th>
			<th>Display Name</th>
			<th>Events</th>
			<th>Registered</th>
			<th>Role</th>
		</tr>
	</thead>

	<tbody>
		{% for user in users %}
		<tr>
			<td class="text-right">{{ user.id }}</td>
			<td class="text-muted">({{ user.id|obscurify('user') }})</span></td>
			<td>
				{% if utils.userHasAdministrativeAccess(user) %}
				<a href="/-/admin/users/{{ user.id }}/edit">{{ user.login|shorten(40) }}</a>
				{% else %}
				{{ user.login|shorten(40) }}
				{% endif %}
			</td>
			<td class="h-jail">{{ user.displayName|shorten(40) }}</td>
			<td class="text-right">{{ user.eventCount }}</td>
			<td class="text-right">{{ macros.backend_date(user.createdAt) }}</td>
			<td>{{ utils.roleBadge(user.role)|raw }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{{ macros.render_pager(pager, '/-/admin/users', {'q': query}) }}
{% endif %}
{% endblock %}
