{% extends "admin/layout.twig" %}
{% import "macros.twig" as macros %}

{% block title %}{{ user.login }} &ndash; Admin{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12 col-md-12">
		<h2><a href="/-/admin/users">Users</a> \ {{ user.login|shorten(40) }}{% if user.id == app.user.id %} <small class="text-info">This is you!</small>{% endif %}</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-7">
		<div class="well form-horizontal">
			<fieldset>
				<legend>User Information <span class="text-muted">(ID {{ user.id|obscurify('user') }})</span></legend>

				<div class="form-group">
					<label class="col-lg-4 control-label" for="login">Username:</label>
					<div class="col-lg-8">
						<p class="form-control-static">{{ user.login }}</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label" for="display_name">Display Name:</label>
					<div class="col-lg-8">
						<p class="form-control-static h-jail">{{ user.displayName|default('N/A') }}</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label" for="gravatar">Gravatar Info:</label>
					<div class="col-lg-8">
						<p class="form-control-static">{{ user.gravatarHash|default('N/A') }}</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label" for="language">Language:</label>
					<div class="col-lg-8">
						<p class="form-control-static">{{ languages[user.language] }}</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label" for="max_events">Max # of events:</label>
					<div class="col-lg-8">
						<p class="form-control-static">{{ user.maxEvents }} ({{ user.events|length }} used)</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-4 control-label">Registered at:</label>
					<div class="col-lg-8">
						<p class="form-control-static">{{ macros.backend_date(user.createdAt) }}</p>
					</div>
				</div>

				{% set roles = {ROLE_OP: 'Operator', ROLE_ADMIN: 'Administrator', ROLE_USER: 'Regular User', ROLE_GHOST: 'Ghost (disabled)'} %}

				<div class="form-group">
					<label class="col-lg-4 control-label">Role:</label>
					<div class="col-lg-8">
						<p class="form-control-static">{{ roles[user.role] }}</p>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-5">
		<div class="alert alert-warning">
			<i class="fa fa-info-circle"></i> You cannot edit {{ user.login }}. You need the blue key first.
		</div>

		{% if user.events is empty %}
		<div class="alert alert-info">
			<i class="fa fa-info-circle"></i> This user has no events created yet.
		</div>
		{% else %}
		<legend>Events</legend>
		<ul>
			{% for event in user.events %}
			<li class="h-jail-li"><a href="/-/admin/events/{{ event.id }}/edit">{{ event.name|shorten(40) }}</a> <span class="text-muted">(<a href="/{{ event.slug }}" target="_blank"><code>{{ event.slug|shorten(20) }}</code></a>)</span></li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
