{% extends "backend.twig" %}
{% import "macros.twig" as macros %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
<ul class="breadcrumb h-jail">
	<li><a href="/-/home">Home</a></li>
	<li><a href="/-/events/{{ event.id|obscurify('event') }}">{{ event.name|shorten(45) }}</a></li>
	<li>Delete Event</li>
</ul>

<div class="row">
	<div class="col-lg-12">
		<h2 class="h-jail">You are about to delete &quot;{{ event.name }}&quot;!</h2>
		<p>Deleting an event will delete all associated data, i.e. schedules.<br>
		<strong>There is no un-do for this.</strong></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-6 text-right">
		<a href="/-/events/{{ event.id|obscurify('event') }}" class="btn btn-default btn-sm"><i class="fa fa-undo"></i> No thanks</a>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
		<form method="post" action="/-/events/{{ event.id|obscurify('event') }}">
			<div>
				{{ macros.csrf_token() }}
				<input type="hidden" id="_method" name="_method" value="DELETE" />
				<button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Yes, kill it!</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
