{% extends "backend.twig" %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
<ul class="breadcrumb h-jail" style="margin-bottom: 5px;">
	<li><a href="/-/home">Home</a></li>
	<li>{{ event.name|shorten(45) }}</li>
</ul>

<div class="row">
	<div class="col-lg-12 col-md-12">
		<h2 class="h-jail">{{ event.name|shorten(60) }}</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 col-md-7">
		<div class="row h-tiles">
			{% for schedule in event.schedules %}
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="well well-sm">
					<h4><a href="/-/schedules/{{ schedule.id|obscurify('schedule') }}">
						<span><i class="fa fa-calendar fa-3x"></i></span>
						<span>{{ schedule.name|shorten(45) }}</span>
					</a></h4>
				</div>
			</div>
			{% endfor %}

			{% if not isFull %}
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div class="well well-sm h-adder">
					<h4><a href="/-/events/{{ event.id|obscurify('event') }}/schedules/new" class="text-muted">
						<span><i class="fa fa-plus fa-3x"></i></span>
						<span>New…</span>
					</a></h4>
				</div>
			</div>
			{% endif %}
		</div>

		{% if isFull %}
		<div class="alert alert-info">
			<i class="fa fa-info-circle"></i> You have reached the maximum number of allowed schedules for one event.
		</div>
		{% endif %}
	</div>

	<div class="col-lg-4 col-md-5">
		<div class="well">
			<fieldset>
				<legend>Event Information <a href="/-/events/{{ event.id|obscurify('event') }}/edit" class="btn btn-link btn-sm pull-right">Edit…</a></legend>

				<dl class="h-indented">
					<dt>Name</dt>
					<dd class="h-jail">{{ event.name }}</dd>
					<dt>Slug</dt>
					<dd><code>{{ event.slug }}</code></dd>
					<dt>Website</dt>
					<dd>
					{% if event.websitehost %}
						<a href="{{ event.website }}" target="_blank"><i class="fa fa-globe"></i> {{ event.websitehost }}</a> <sup><small><i class="fa fa-external-link"></i></small></sup>
					{% elseif event.website %}
						{{ event.website }}
					{% else %}
						(none)
					{% endif %}
					</dd>
					<dt>Twitch Stream</dt>
					<dd>
					{% if event.twitch %}
						<a href="http://twitch.tv/{{ event.twitch }}" target="_blank"><i class="fa fa-twitch"></i> {{ event.twitch }}</a> <sup><small><i class="fa fa-external-link"></i></small></sup>
					{% else %}
						(none)
					{% endif %}
					<dt>Twitter Account</dt>
					<dd>
					{% if event.twitter %}
						<a href="http://twitter.com/{{ event.twitter }}" target="_blank"><i class="fa fa-twitter"></i> {{ event.twitter }}</a> <sup><small><i class="fa fa-external-link"></i></small></sup>
					{% else %}
						(none)
					{% endif %}
					</dd>
				</dl>

				<div class="text-center">
					<a href="/-/events/{{ event.id|obscurify('event') }}/delete" class="btn btn-warning btn-sm"><i class="fa fa-trash-o"></i> Delete Event</a>
				</div>
			</fieldset>
		</div>
	</div>
</div>
{% endblock %}
